@import 'interface.css';
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alice&display=swap');

@page {
  size : A5;
  bleed: 6mm;
  marks: crop cross;
}

@page cover {
  background-color: blueviolet;
  color: black;
  font-weight: bold;
  font-size: 120%;
  background-image: url('./images/alice.jpg');
  background-size: cover;
}


@page {
  @bottom-right {
    content: counter(page);
  }

}

@page {
  @bottom-center {
    content: string(title);
  }
}

@page {
  @top-center {
    content: string(booktitle);
  }
}

@page :first {
  .pagedjs_margin-content {
    display: none;
  }
}


section {
  break-before: page;
}

section#cover {
  page : cover;
  
}



h1,h2,h3,h4,h5,h6 {
  font-family: 'Alice', serif;
  text-align: left;

}

h1 {
  text-align: left;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

h1 {
  string-set: title content(text);
}

#cover h1 {
  string-set: booktitle content(text);
}

h1:after {
  content:'';
  display: block;
  height: 3px;
  width: 10mm;
  background-color: black;;
  margin-top: 0.5rem;
}

.pagedjs_page_content {
  font-size: 0.85rem;
  text-align: justify;
  line-height: 1.4rem;
}

.pagedjs_pages .pagedjs_margin .pagedjs_margin-content {
  font-family: 'Alice', serif;
  font-size: 0.8rem;
}