<script>
  import { onMount } from "svelte";
  import { marked } from "marked";
  import matter from "tiny-matter";

  import { appStore, mainUrl, print } from "./lib/stores/store";

  import Header from "./lib/components/Header.svelte";
  import Content from "./lib/components/Content.svelte";
  import Footer from "./lib/components/Footer.svelte";
  import Print from "./lib/components/Print.svelte";

  import { extractSiteContent } from "./lib/utils/utils";

  import Nav from "./lib/components/Nav.svelte";

  let nav = [];
  let items = [];
  let title = "Publeash";
  let loading = false;

  const updateContent = async function(url){
    loading = true;
    const site = await extractSiteContent(url);
    $appStore.items = site.items;
    $appStore.pageUrl = site.items[0].url

    nav = site.nav;
    items = site.items;
    site.title ? (title = site.title) : (title = "Publeash");
    loading = false;
  }

  $: if($mainUrl) updateContent($mainUrl);


</script>

{#if $print}
  <Print />
{:else}
  <Header {title} />
  <main class="container d-flex">
    {#if loading}
      Chargement de vos pads...
    {:else}
      {#if $mainUrl}
        <aside>
          <Nav nodes={nav} />
          <div class="edit-site">
            <a href={$appStore.mainUrl} target="_blank">Edit</a>
          </div>
        </aside>
        <Content />
      {:else}
        <p>Fournissez l'url de votre pad</p>
      {/if}
    {/if}
    
  </main>

  <Footer />
{/if}

<style lang="scss">
  main {
    position: relative;
  }
  aside {
    position: sticky;
    top: 2rem;
    min-width: 260px;
    margin-top: 2rem;
    height: calc(100vh - 258px);
  }

  .edit-site {
    font-family: "Abel";
    margin-top: 2rem;
  }

  .edit-link {
    display: block;
    margin-top: 2rem;
    font-size: 0.9rem;
    text-decoration: underline;
  }
</style>
