@import '../node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --bs-body-font-family: 'Open Sans', sans-serif;
  --bs-body-font-size: 16px;
  --bs-body-line-height: 24px;
  --bs-body-font-weight: 400;
}


