
<script>
  import { onMount } from "svelte";
  import { marked } from "marked";
  import matter from "tiny-matter";

  import { appStore } from "../stores/store";

  let pageContent ='Loading...';
  let pageMeta;
  let tags = []

  async function loadContent(url) {
    if(url){
      const page = await fetch(url+'/download');
      if (!page.ok) {
        console.log(`An error has occured: ${response.status}`);
      }
    
      const pageText = await page.text();
      const pageData = matter(pageText);

      
      pageMeta = pageData?.data
      if(pageMeta && pageMeta.tags) tags = pageMeta.tags.split(',');
      return marked(pageData.content)

    }
  }


  function handleContentClick(e){
    const target = e.originalTarget;

    const isInternal = $appStore.items.find( i => i.url == target.href )
    if (target.tagName === 'A' ) {
      isInternal ? $appStore.pageUrl = target.href : window.open(target.href);
    }
      
  }

  $: loadContent($appStore.pageUrl).then( res =>  pageContent = res);

</script>
  <main>

    <div class="main-content">
      
      <div class="metadata d-flex justify-content-between">
        <div class="tags">
          {#if tags}
            {#each tags as tag}
              <span class="badge text-bg-light">{tag}</span>
            {/each}
          {/if}
        </div>
        <div class="actions">
          <p style="text-align:right"><a href="{$appStore.pageUrl}" target="_blank">Edit</a> </p>
        </div>
      </div>
    <div on:click|preventDefault = "{ e => handleContentClick(e) }" >
      {@html pageContent}
    </div>
    
  </main>

  <style lang="scss">

    main {
      width: 100%;
    }
    .metadata {
      border-bottom: 1px solid lightgray;
      padding-bottom: 0.2rem;
      margin-bottom: 1rem;
    }
    .main-content {
      font-family: 'Abel';
      max-width: 640px;
      padding : 2rem 0;
      text-align: justify;
      margin : 0 auto;
    }

    :global {
      .main-content img {
        max-width:100% ;
      }
    }
  </style>