<footer class="blog-footer">
  <p>
    <a href="#">Back to top</a>
  </p>  
  <p>Made with Publeash - <a href="https://gitlab">View on Gitlab</a></p>
    
  </footer>

  <style lang="scss">

    footer {
      background-color: #EEEEEE;
      margin: 0;
      padding : 2rem;
      p {
        font-family: 'Abel';
        font-size: 1rem;
        text-align: center;
      }
    }

  </style>