<script>
  import { mainUrl, print } from "../stores/store";

  export let title='Publeash';

  function updateContent(){
    const url = document.getElementById('padurl');
    if(url && url.value) $mainUrl = url.value;
  }

  function doPrint(){
    $print = true;
  }

</script>

<header class="container">
  <nav class="navbar">
    <span class="navbar-brand" >{title}</span>
    <div class="d-flex">
      <div class="input-group ">
        <input class="form-control" id="padurl" type="text" placeholder="Adresse du pad principal" value={$mainUrl}>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" on:click={ updateContent } type="button">Actualiser</button>
          <button class="btn btn-outline-secondary" on:click={ doPrint } type="button">Imprimer</button>
        </div>
      </div>
    </div>
    
  </nav>
  
</header>
  <style lang=scss>
    .navbar {  
      border-bottom: 1px solid lightgrey;
    } 
    .navbar-brand {
      height : 4rem;
      font-family: 'Abel', sans-serif;
      font-size: 1.8rem;
      font-weight: bold;
      text-align: center;
      padding: 1rem 0;
    }

    #padurl{
      width: 400px;
      font-size: 0.9rem;
    }

  </style>