<script>
    import { appStore } from "../stores/store";
    export let nodes = [];


    function displayContent(e){
        $appStore.pageUrl = e.target.href;
    }
</script>


{#each nodes as node}
    {#if node.type == 'list' }
        <ul class="nav flex-column">
		    <svelte:self nodes={node.items}/>
        </ul>
    {:else if node.type == 'list_item'  }
        <li class="nav-item">
            <svelte:self nodes={node.tokens}/>
        </li>
    {:else if node.type == 'text'  }
            <svelte:self nodes={node.tokens}/>
    {:else if node.type == 'link'}
        <a class="nav-link" href="{node.href}" class:active = "{node.href==$appStore.pageUrl}" on:click|preventDefault="{ e => displayContent(e) }">{node.text}</a>
	{/if}
{/each}



<style lang=scss>
    :global {

    ul.nav > li > ul {
        padding-left: 1rem;
    }
    .nav {
        .nav-item {
            
        }

        .nav-link {
            font-family: "Abel", sans-serif;
            color: black;
            font-size: 1.1rem;
            padding: 0.3rem;
            
        }
        .nav-link.active {
            text-decoration: underline;
        }
    }
    }
</style>