<script>
  import { onMount } from "svelte";
  import { mainUrl,appStore } from "../stores/store";
  import { extractSiteContent } from "../utils/utils";

  import bookCSS from '../../assets/book.css?inline';

  import { Previewer } from "pagedjs";

  let printable = "";
  let loading = false;

  onMount(async () => {
    if ($mainUrl) {
      loading = true;
      let pages = await extractSiteContent($mainUrl);
      printable += '<section id="cover"><h1>'+pages.title+'</h1></section>';
      pages.items.forEach((item) => {
        printable += '<section class="chapter">'+item.content+'</section>';
      });

      let paged = new Previewer();
      let flow = paged
        .preview(printable, [{bookCSS}], document.body)
        .then((flow) => {
          console.log("Rendered", flow.total, "pages.");
        });
    }
    loading = false;
  });
</script>

{#if loading} 
<div class="container">
  Chargement du PDF...
</div>
{/if}